{% extends 'main.html' %}
{% load i18n %}

{% block content %}
<h2>{% trans "The authorized user page of" %} {{ request.user.username }}</h2>
    <hr>
<div>
    <h5>{% trans "Here is the personal information of every authorized user" %}</h5>
</div>
    {% if is_not_author %}
        <a href="/sign/upgrade/">
        <button class="btn btn-outline-success">{% trans "Become author" %}</button>
        </a>
    {% endif %}
    <a href="/sign/profile_update/">
    <button class="btn btn-outline-dark">{% trans "Change your profile" %}</button>
    </a>
    <a href="/sign/logout/">
    <button class="btn btn-outline-dark">{% trans "Quit" %}</button>
    </a>
{% endblock %}