{% extends 'main.html' %}

{% block content %}
<h2>Страница авторизованного пользователя {{ request.user.username }}</h2>
    <hr>
<div>
    <h5>Здесь может содержаться персональная информация для каждого пользователя</h5>
</div>
    {% if is_not_author %}
        <a href="/sign/upgrade/">
        <button class="btn btn-outline-success">Стать автором</button>
        </a>
    {% endif %}
    <a href="http://127.0.0.1:8000/sign/profile_update/">
    <button class="btn btn-outline-dark">Изменить свой профиль</button>
    </a>
    <a href="/sign/logout/">
    <button class="btn btn-outline-dark">Выйти</button>
    </a>
{% endblock %}