{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
News
{% endblock title %}

{% block content %}
    <h1>Главные новости</h1>
    <h3>Количество новостей - {{ news|length }}</h3>
    <hr>
    {% if news %}
        <table>
            <tr>
                <td><h5>Заголовок</h5></td>
                <td><h5>Дата публикации</h5></td>
                <td><h5>Текст</h5></td>
            </tr>
            {% for onenews in news %}
            <tr>
                <td align="left">{{ onenews.title|censor }}</td>
                <td>{{ onenews.register_date|date:'M d Y' }}</td>
                <td align="left">{{ onenews.content|truncatechars:20|censor }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
    <h2>Новостей пока нет...</h2>
    {% endif %}
{% endblock content %}

