/venv
/__pycache__
/*.iws
/.idea/*.xml
/virtualenv
/.env
/cache_files
/db.sqlite3
/mydata.json
/mydata.xml
news_project/__pycache__
news_project/migrations/__pycache__
news_project/management/commands/__pycache__
sign/__pycache__
sign/migrations/__pycache__
protect/__pycache__
protect/migrations/__pycache__
NewsPaper/__pycache__

