{% extends 'flatpages/default.html' %}
{% load crispy_forms_filters %}
{% load custom_filters %}
{% load crispy_forms_tags %}
{% load i18n %}

<h1>{{ onenews.title }}</h1>

{% block content %}
<div class="article-entry">
    <h3>{{ onenews.title }}</h3>
    <p>Author: {{ onenews.author }}</p>
    <p>Date: {{ onenews.register_date }} &middot;
    Rating: {{ onenews.content_rating }}</p>
    <h5>{{ onenews.content }}</h5>
    <form style="margin-bottom: 5px" action="{% url 'add_content_like' onenews.pk %}">
        {% csrf_token %}
        <button class="btn btn-outline-success">Like</button>
    </form>
    <form action="{% url 'add_content_dislike' onenews.pk %}">
        {% csrf_token %}
        <button class="btn btn-outline-danger">Dislike</button>
    </form>
<hr>
    {% if onenews.author.author_user == request.user %}
        {% if onenews.choice == 'NEWS' %}
            <a href="http://127.0.0.1:8000/main/news/{{ onenews.id }}/edit/">
                <button class="btn btn-outline-dark">{% trans "Change" %}</button>
            </a> |
            <a href="http://127.0.0.1:8000/main/news/{{ onenews.id }}/delete/">
                <button class="btn btn-outline-dark">{% trans "Delete" %}</button>
            </a>
        {% endif %}
        {% if onenews.choice == 'ARTL' %}
            <a href="http://127.0.0.1:8000/main/articles/{{ onenews.id }}/edit/">
                <button class="btn btn-outline-dark">{% trans "Change" %}</button>
            </a>
            <a href="http://127.0.0.1:8000/main/articles/{{ onenews.id }}/delete/">
                <button class="btn btn-outline-dark">{% trans "Delete" %}</button>
            </a>
        {% endif %}
    {% endif %}
</div>
<h4 align="left">{% trans "Comments" %}</h4>
{% for com in onenews.comment_set.all %}
    {% if com %}
        <p align="left"><strong>{{ com.user }}</strong> &middot; {{ com.comment_text }}</p>
        <p align="left">{% trans "Rating" %}: {{ com.comment_rating }}</p>
        <form style="margin-bottom: 10px" action="{% url 'add_comment_like' com.pk %}" method="post">
            {% csrf_token %}
            <button style="margin-right: 1600px" class="btn btn-outline-success">Like</button>
        </form>

        <form action="{% url 'add_comment_dislike' com.pk %}" method="post">
            {% csrf_token %}
            <button style="margin-right: 1600px" class="btn btn-outline-danger">Dislike</button>
        </form>
    {% endif %}
    <hr>
{% endfor %}


<h4 align="left">{% trans "Add a comment" %}</h4>
<form action="" method="post">{% csrf_token %}
    {{ form|crispy }}
    <p align="left"><button class="btn btn-outline-dark" type="submit">Save</button></p>
</form>
{% endblock content %}