{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}
{% load crispy_forms_filters %}
{% load tz %}
{% load i18n %}

{% block content %}
    {% if current_time.hour >= 19 or current_time.hour <= 7 %}
        <h1 style="color: white; float: left; margin-top: 30px">{% trans "Main news" %}</h1>
    {% else %}
        <h1 style="float: left; margin-top: 30px">{% trans "Main news" %}</h1>
    {% endif %}
    <br>
    <br>
    <br>
    <br>
    <form action="" method="get">
        {{ filterset.form|crispy }}
        {% if current_time.hour >= 19 or current_time.hour <= 7 %}
            <script>
                const labels = document.getElementsByClassName('form-label');
                const textInput = document.getElementById('id_title');
                textInput.setAttribute('placeholder', '{% trans "Type title" %}');
                for (let i = 0; i < labels.length; i++) {
                    const label = labels[i];
                    label.style.color = 'white';
                    label.style.float = 'left';
                }
            </script>
            <input type="submit" class="btn btn-outline-light" value="{% trans "Search" %}">
        {% else %}
            <script>
                const labels = document.getElementsByClassName('form-label');
                const textInput = document.getElementById('id_title');
                textInput.setAttribute('placeholder', '{% trans "Type title" %}');
                for (let i = 0; i < labels.length; i++) {
                    const label = labels[i];
                    label.style.color = 'black';
                    label.style.float = 'left';
                }
            </script>
            <input type="submit" class="btn btn-outline-dark" value="{% trans "Search" %}">
        {% endif %}
    </form>
    <hr>
    {% if news %}
        {% for onenews in news %}
            <div class="news">
                <a href="{{ onenews.id }}" class="news-title">{{ onenews.title|censor }}</a>
                {% for cat in onenews.categories.all %}
                    <p class="news-category">&middot; {{ cat }}</p>
                {% endfor %}
                <p class="news-date">{{ onenews.register_date|date:'M d Y' }}</p>
                <p class="news-content">{{ onenews.content|truncatechars:100|censor }}</p>
                <p class="news-author">&middot; {{ onenews.author }}</p>
                {% if onenews.choice == 'ARTL' %}
                    <p class="news-type">{% trans "Article" %}</p>
                {% else %}
                    <p class="news-type">{% trans "News" %}</p>
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        {% if current_time.hour >= 19 or current_time.hour <= 7 %}
                <h2 style="color: white">{% trans "No news yet..." %}</h2>
            {% else %}
                <h2>{% trans "No news yet..." %}</h2>
            {% endif %}
    {% endif %}

    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

{% endblock content %}