{% extends 'flatpages/default.html' %}

{% load crispy_forms_filters %}
{% load i18n %}

{% block content %}
    <br>
    <div class="news">
        <h1 style="float: left; margin-top: 30px">{% trans "Create news" %}</h1>
    <br>
    <br>
    <br>
    <br>
    <form action="" method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        {{ form|crispy }}
        <script>
            const labels = document.getElementsByClassName('form-label');
            const textInput = document.getElementById('id_title');
            textInput.setAttribute('placeholder', '{% trans "Type title" %}');
            for (let i = 0; i < labels.length; i++) {
                const label = labels[i];
                label.style.color = 'black';
                label.style.float = 'left';
            }
        </script>
        <input type="submit" class="btn btn-outline-success" value="{% trans "Save" %}" />
    </form>
    </div>
{% endblock content %}