{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}
{% load i18n %}
{% load tz %}
{% load static %}

{% block title %}
{% trans "News" %}
{% endblock title %}

{% block content %}
    {% if current_time.hour >= 19 or current_time.hour <= 7 %}
        <h1 style="color: white; float: left; margin-top: 30px">{% trans "Main news" %}</h1>
    {% else %}
        <h1 style="float: left; margin-top: 30px">{% trans "Main news" %}</h1>
    {% endif %}
    <br>
    <br>
    <br>
    <br>
    {% if news %}
        {% for onenews in news %}
            <div class="news">
                <a href="search/{{ onenews.id }}" class="news-title">{{ onenews.title|censor }}</a>
                {% for cat in onenews.categories.all %}
                    <p class="news-category">&middot; {{ cat }}</p>
                {% endfor %}
                <p class="news-date">{{ onenews.register_date|date:'M d Y' }}</p>
                {% if onenews.image %}
                    <img class="news-image" src="{{ onenews.image.url }}" alt="img">
                {% endif %}
                <p class="news-content">{{ onenews.content|truncatechars:100|censor }}</p>
                <p class="news-author">&middot; {{ onenews.author }}</p>
                {% if onenews.choice == 'ARTL' %}
                    <p class="news-type">{% trans "Article" %}</p>
                {% else %}
                    <p class="news-type">{% trans "News" %}</p>
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        {% if current_time.hour >= 19 or current_time.hour <= 7 %}
            <h2 style="color: white">{% trans "No news yet..." %}</h2>
        {% else %}
            <h2>{% trans "No news yet..." %}</h2>
        {% endif %}
    {% endif %}

    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}
{% endblock content %}

