<!DOCTYPE html>
{% load i18n %}
{% load tz %}
{% load cache %}
{% load crispy_forms_filters %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>News Portal</title>

        {% load static %}
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <style>
            body {background-color: {% if current_time.hour >= 19 or current_time.hour <= 7 %} darkgray {% else %} white {% endif %};}
        </style>
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
            <div class="container">
                <a class="navbar-brand" href="/main/">{% trans "News" %}</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarResponsive"
                        aria-controls="navbarResponsive" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/main/search/">{% trans "Search content" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">{% trans "Become author" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/main/articles/create/">{% trans "Create your articles" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/main/news/create/">{% trans "Create your news" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/main/categories/">{% trans "Subcribe to Categories" %}</a>
                    </li>
                    <li class="nav-item">
                        <form class="form-select-lg" action="{% url 'set_language' %}" method="POST">
                            {% csrf_token %}
                            <!-- Не забываем по csrf_token для POST запросов -->
                            <input type="hidden" name="next" value="{{ redirect_to }}" style="margin-right: 55px">
                            <label>
                                <select name="language" class="form-select-sm">
                                    {% get_current_language as LANGUAGE_CODE %}
                                    {% cache 600 welcome LANGUAGE_CODE %}
                                    {% get_available_languages as LANGUAGES %} <!-- получаем языки -->
                                    {% get_language_info_list for LANGUAGES as languages %} <!-- Помещаем их в список languages -->
                                    {% for language in languages %} <!-- Итерируясь по списку, выводим их название на языке пользователя и код -->
                                        <option value="{{ language.code }}"
                                                {% if language.code == LANGUAGE_CODE %}
                                                selected
                                                {% endif %}>
                                        {{ language.name_local }} - {{ language.code }}
                                        </option>
                                    {% endfor %}
                                    {% endcache %}
                                </select>
                            </label>
                            <input type="submit" value="{% trans 'Set' %}" class="btn btn-outline-light">
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
        <!-- Page content-->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                {% block content %}
                {{ flatpage.content }}
                {% endblock content %}
                </div>
            </div>
        </div>
        <div>
            {% get_current_timezone as TIME_ZONE %}
            <form style="margin-left: 120px" action="{% url 'set_timezone' %}" method="post">
                {% csrf_token %}
                <label for="timezone">Time zone:</label>
                <label>
                    <select name="timezone">
                        {% for tz in timezones %}
                            <option value="{{ tz }}"{% if tz == TIME_ZONE %} selected {% endif %}>{{ tz }}</option>
                        {% endfor %}
                    </select>
                </label>
                <input type="submit" value="{% trans "Set" %}" class="btn btn-outline-dark">
            </form>
            <h6 style="margin-left: 120px">{{ TIME_ZONE }}</h6>
            <h6 style="margin-left: 120px">{{ current_time|timezone:TIME_ZONE }}</h6>
        </div>
    </body>
</html>